services:
  mongodb:
    image: mongo
    container_name: drb-mongodb
    env_file:
      - .env
    ports:
      - '27017:27017'
    volumes:
      - mongodb_data:/data/db

  mongo-express:
    image: mongo-express
    container_name: drb-mongo-express
    env_file:
      - .env
    environment:
      - PORT=8081
    ports:
      - '8081:8081'
    depends_on:
      - mongodb

  app:
    build: .
    container_name: drb-backend
    ports:
      - '3000:3000'
    env_file:
      - .env
    depends_on:
      - mongodb

volumes:
  mongodb_data:
    driver: local
